<template name="formBuilder">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="build-wrap"></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button"
              class="btn btn-primary"
              id="form-builder-save"
              value="{{name}}">Save Form</button>
          </span>
          {{#unless name}}
            <input type="text"
              class="form-control"
              placeholder="unique_machine_uid"
              id="form-machine-uid"
              value="{{name}}">
          {{/unless}}
        </div>
      </div>
      <div class="col">
        <button class="btn btn-secondary" type="button" id="clear-all">Clear</button>
      </div>
      <div class="col">
        {{#if removeButton }}
          {{#if name}}
          <button type="button"
            class="btn btn-secondary"
            id="remove-form"
            value="{{name}}">Remove Form ({{name}})</button>
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        {{#if exportButton }}
          {{#if name}}
          <button type="button"
            class="btn btn-secondary"
            id="show-data"
            value="{{name}}">Show</button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="formBuilderForm">
  <div class="build-wrap"></div>
</template>
