<template name="formBuilderDisplay">
  {{#if Template.subscriptionsReady}}
    {{#if schema}}
    <ul class="list-unstyled">
      {{#each field in fields}}
        <li>
          {{> Template.dynamic template=(fieldTemplate field.type) data=field}}
        </li>
      {{/each}}
    </ul>
    {{/if}}
  {{/if}}
</template>

<template name="basicFormDisplayTextarea">
  <strong>{{label}}</strong>:
  <p>{{#if value}}{{value}}{{else}}N/A{{/if}}</p>
</template>

<template name="basicFormDisplayInputGroup">
  <strong>{{label}}</strong> :
  {{#if atLeastOne values }}
    {{#each opt in values}}
      {{#if opt.selected }}
        {{opt.value}}
      {{/if}}
    {{/each}}
  {{else}}
    N/A
  {{/if}}
</template>

<template name="basicFormDisplayInput">
  <strong>{{label}}</strong> : {{#if value}}{{value}}{{else}}N/A{{/if}}
</template>

<template name="basicFormDisplayDate">
  <strong>{{label}}</strong> :
   {{#if value}}{{formatDate value}}{{else}}N/A{{/if}}
</template>

<template name="basicFormDisplaySelect">
  <strong>{{label}}</strong> :
    {{#each opt in values}}
      {{#if opt.selected }}
        {{opt.label}}
      {{/if}}
    {{/each}}
</template>
